name: Go Build (Intel x64 Windows)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-intel-amd64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'
        cache: true

    - name: Install MinGW-w64 (Intel x64)
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-mingw-w64-x86-64 make

    - name: Install Go Dependencies
      run: go mod tidy

    - name: Build Intel 64bit (amd64)
      run: make build

    - name: Upload Intel 64bit Artifact
      uses: actions/upload-artifact@v4
      with:
        name: cookie-intel-amd64
        path: bin/cookie-amd64.exe
